$primary-color: #01d2bd;
$secondary-color: black;
$header-primary: white;
$header-secondary: #aebac8;

body {
  color: black;

.jumbotron {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #d3d3d3;
  .header {
    clear: both;
    left: 50%;
    top:50%;
    color:#005EB8;
    text-align: center;
    .sort-label {
      margin-right: 5px;
    }
    .sort {
      width: 145px;
      height: auto;
    }
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 15px;
      color: $header-secondary;
      span {
        color: $primary-color;
      }
    }
    .search-input {
      margin-top: 20px;
    }
    .search {
      position: relative;
      /*width: 430px;*/
      height: 30px;
      margin: 0 auto;
      color: $secondary-color;
      float: none;
      display: inline;
    }
    .form-control{
      display: inline;
    }
  }
}
.side{
  float: left;
  width: 300px;
  .filter {
    background-color: #eeeeee;
    .filter-header {
      color: $header-primary;
      background-color: #005EB8;
      padding: 15px 10px;
      font-size: 16px;
    }
    .filter-body {
      .filter-item {
        .filter-item-heading {
          color: $header-primary;
          background-color: lightgray;
          font-size: 16px;
          padding: 15px 10px;

        }
        .filter-item-body {
          padding: 15px 10px;
          .search-name {
            width: 100%;
            font-size: 14px;
          }
          .star-rating {
            .star {
              padding: 1px;
              color: #ddd;
              font-size: 20px;
              text-shadow: .05em .05em #aaa;
              list-style-type: none;
              display: inline-block;
              cursor: pointer;
              .filled {
                color: #fd0;
              }
            }
            .rating-input {
              position: absolute;
              left: 0;
              top: -500px;
            }
            .rating-star {
              display: block;
              float: right;
              font-size:28px;
              margin-right: 4px;
            }
            .rating-star:hover,
            .rating-star:hover ~ .rating-star {
              background-position: 0 0;
            }

          }
        }
      }
    }
  }
}
.main {
  float: left;
  .hotel-listing {
    border: none;
    margin-bottom: 18px;
    background-color: #f9f9f9;
    img {
      width: 197px;
      height: 169px;
      display: block;
      margin-right: 15px;
    }
    .thumbnail { margin-bottom: 0;}
    .info {
      width: 55%;
      position: relative;
      h4 {
        color: #005EB8;
      }
      .location {
        color:#b1acac;
        font-size: 14px;
      }
      .user-rating{
        .rating, .user-rating-title{
          font-size: 18px;
        }
      }
    }
    .cost {
      vertical-align: bottom;
      width: 20%;
      .price-label {
        font-size: 12px;
      }
      .price {
        font-size: 30px;
        color: darkorange;
      }
    }
    .section {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      padding-top: 10px;
    }
  }
}

.filled {
  color: #fd0;
}




}





